<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        .inform_cell, .result_cell_r_1, .result_cell_1 {
            font-size: 9pt;
            color: #000000;
        }
        .form_cell {
            font-size: 9pt;
            color: #000000;
        }
        @media print {
            .inform_border {
                margin: 0;
                background: #fff;
                border: none;
            }
        }
        .footer {
            font-size: 9pt;
            color: #000000;
            font-style: italic;
            text-align: center;
            padding-top: 50px;
            display: block;
        }
        .rcr1 {
            width: 30px;
        }
        .rc1 {
            width: 120px;
        }
        .rc2 {
            width: 120px;
        }
        .rcr2 {
            width: 350px;
        }
        .rc3 {
            width: 80px;
        }
        .rcr3 {
            width: 100px;
        }
        .rcr4 {
            width: 80px;
        }
        .rcr5 {
            width: 60px;
        }
        .rcr6 {
            width: 380px;
        }
        .rcr7 {
            width: 380px;
        }
        .rcr8 {
            width: 380px;
        }
        .scale {
            word-break: break-all;
            text-align:center;
        }

    </style>
</head>
<body>
<center>
    <table width="100%" border="0" cellspacing="5" cellpadding="4">
        <tr>
            <td width="50%" class="inform_cell">
                Numer zamówienia: <b><span th:text="${order.getOrderName()}"></span></b>
            </td>
            <td width="50%" class="inform_cell">
                Liczba poz. zam.: <b><span th:text="${order.getDetailCount()}"></span></b>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="5" cellpadding="4">
        <tr>
            <td width="100%" class="inform_cell" valign="top">
                <b>Szczegóły</b>
                <br />
                Data wystawienia: <span th:text="${#dates.format(order.getOrderDate(), 'dd-MM-yyyy')}"></span><br />
                Data realizacji: <span th:text="${#dates.format(order.getOrderDeliveryDate(), 'dd-MM-yyyy')}"></span><br />
                Forma płatności: <span th:text="${order.getPaymentTermName()}"></span><br />
                Termin płatności: <span th:text="${order.getPaymentDays()}"></span><br />
                Data płatności: <span th:text="${#dates.format(order.getCommitDate(), 'dd-MM-yyyy')}"></span>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="5" cellpadding="4">
        <tr>
            <td width="50%" class="inform_cell" valign="top">
                <b>Klient:</b> <span th:text="${client.getSymbol()}"></span>
                <table border="0" width="50%" >
                    <tr>
                        <td class="form_cell" width="50%" valign="top">
                            <span th:text="${client.getClientName()}"></span> <br/>
                            <span th:text="${client.getStreet()}"></span> <br/>
                            <span th:text="${client.getPostcode()}"></span> <span th:text="${client.getCity()}"></span><br />
                        </td>
                        <td class="form_cell" valign="top">
                            Tel.: <span th:text="${client.getClientPhone()}"></span><br />
                            E-mail: <span th:text="${client.getClientEmail()}"></span><br />
                            NIP: <span th:text="${client.getNip()}"></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="50%" class="inform_cell" valign="top">
                <b>Płatnik:</b> <span th:text="${payer.getSymbol()}"></span>
                <table border="0" width="50%">
                    <tr>
                        <td class="form_cell" width="50%" valign="top">
                            <span th:text="${payer.getClientName()}"></span> <br/>
                            <span th:text="${payer.getStreet()}"></span> <br/>
                            <span th:text="${payer.getPostcode()}"></span> <span th:text="${payer.getCity()}"></span><br />
                        </td>
                        <td class="form_cell" valign="top">
                            Tel.: <span th:text="${payer.getClientPhone()}"></span><br />
                            E-mail: <span th:text="${payer.getClientEmail()}"></span><br />
                            NIP: <span th:text="${payer.getNip()}"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="5" cellpadding="4">
        <tr>
            <td width="50%" class="inform_cell" valign="top">
                <b>Hurtownia</b>
                <table border="0" width="100%">
                    <tr>
                        <td width="50%" class="form_cell" valign="top">
                            <span th:text="${warehouse.getWarehouseName()}"></span><br />
                            <span th:text="${warehouse.getWarehouseStreet()}"></span><br />
                            <span th:text="${warehouse.getWarehousePostcode()}"></span> <span th:text="${warehouse.getWarehouseCity()}"></span><br />
                        </td>
                        <td width="50%" class="form_cell" valign="top">
                            Tel.: <span th:text="${warehouse.getWarehousePhone()}"></span><br />
                            E-mail: <span th:text="${warehouse.getWarehouseEmail()}"></span><br />
                            NIP: <span th:text="${warehouse.getWarehouseNip()}"></span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="50%" class="inform_cell" valign="top">
                <b>Przedstawiciel handlowy</b>
                <br />
                <span th:text="${agent.getAgentSurname()}"></span> <span th:text="${agent.getAgentFirstname()}"></span><br />
                Tel.: <span th:text="${agent.getAgentPhone()}"></span><br />
                <span th:text="${agent.getAgentEmail()}"></span><br />
            </td>
        </tr>
    </table>
    <div class="inform_border">
        <b>Zamówione towary</b>
        <br />
    </div>
    <table class="scale" border="1" cellspacing="0" width="68%" align="left">
        <tr>
            <td class="result_cell_r_1 rcr1">
                <b>L.p.</b>
            </td>
            <td class="result_cell_1 rc1">
                <b>ID Sprzedaży</b>
            </td>
            </td>
            <td class="result_cell_r_1 rcr2">
                <b>Nazwa</b>
            </td>
            <td class="result_cell_1 rc3">
                <b>Ilość</b>
            </td>
            <td class="result_cell_r_1 rcr3">
                <b>JM</b>
            </td>
            <td class="result_cell_r_1 rcr5">
                <b>Cena netto</b>
            </td>
            <td class="result_cell_1 rcr4">
                <b>Uwagi</b>
            </td>
        </tr>
        <tbody>
        <tr th:each="detail : ${orderDetails}">
            <td th:text="${detail.position}"></td>
            <td th:text="${detail.productSymbol}"></td>
            <td th:text="${detail.productName}"></td>
            <td align="right" th:text="${detail.quantity}"></td>
            <td th:text="${detail.getBaseProduct().getProductUnit()}"></td>
            <td align="right" th:text="${detail.getBaseProduct().getProductPrice()}"></td>
            <td th:text="${detail.comments}"></td>
        </tr>
        </tbody>
        <tr>
            <td></td>
            <td align="right"><span th:text="${order.getValue()}"></span></td>
            <td align="right"><span th:text="${order.getTotalValue()}"></span></td>
        </tr>
    </table>

    <table class="scale" border="1" cellspacing="0" width="36%" allign="left">
        <tr>
            <th colspan="2">Podsumowanie</th>
        </tr>
        <tr>
            <td class="result_cell_r_1 rcr6">
                <b>Ilość linii</b>
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td class="result_cell_r_1 rcr8">
                <b>Suma zamówionych ilości</b>
            </td>
            <td>

            </td>
        </tr>
            <td class="result_cell_r_1 rcr7">
                <b>Wartość zamówienia</b>
            </td>
            <td align="right" th:text="${detail.getTotalValue()}"> 
            </td>
        <tr>

        </tr>
    </table>
    
    <table width="100%" border="0" cellspacing="5" cellpadding="4">
        <tr>
            <td width="100%" class="inform_cell">
                <span><b>Akcje promocyjne:</b></span>
                <tr th:each="promotion : ${promotions}" class="inform_cell">
                    <td><span th:text="${promotion.getName()}" class="inform_cell"></span> <span th:text="${promotion.getDescription()}" class="inform_cell"></span></td>
                </tr>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="5" cellpadding="4">
        <tr>
            <td width="100%" class="inform_cell">
                <b>Uwagi do zamówienia:</b> <span th:text="${order.getOrderComment()}"></span>
            </td>
        </tr>
    </table>
    <span class="footer">Zamówienie wysłane z systemu 4mPower - <a href='http://softline.com.pl'>softline.com.pl</a></span>
</center>

</body>
</html>